language: rust

env: RUSTFLAGS="-D warnings"

matrix:
  fast_finish: true
  include:
    - rust: nightly
      os: linux

    - rust: nightly
      os: osx
      osx_image: xcode9.2

    - rust: nightly-x86_64-pc-windows-msvc
      os: windows

    - name: fmt
      rust: nightly
      os: linux
      before_script:
        - rustup component add rustfmt
      script:
        - cargo fmt --all -- --check

    - name: docs
      rust: nightly
      os: linux
      script:
        - cargo doc --features docs

    - name: book
      rust: nightly
      os: linux
      before_script:
        - test -x $HOME/.cargo/bin/mdbook || ./ci/install-mdbook.sh
        - cargo build # to find 'extern crate async_std' by `mdbook test`
      script:
        - mdbook build docs
        - mdbook test -L ./target/debug/deps docs

script:
  - cargo check --all --benches --bins --examples --tests
  - cargo test --all
