[book]
authors = ["The async-std maintainers"]
language = "en"
multilingual = false
src = "src"
title = "Async programming in Rust with async-std"

[build]
create-missing = false

[output.html]
git-repository-url = "https://github.com/async-rs/async-std"
git-repository-icon = "fa-github"

[output.linkcheck]
# Should we check links on the internet? Enabling this option adds a
# non-negligible performance impact
follow-web-links = false

# Are we allowed to link to files outside of the book's root directory? This
# may help prevent linking to sensitive files (e.g. "../../../../etc/shadow")
traverse-parent-directories = false